{% extends "base.html" %}

{% block title %}
AI Assistant
{% endblock %}

{% block content %}

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>🤖 AI Business Assistant</h3>

</div>

<div class="card-body">

<form action="/ask_ai" method="POST">

<div class="mb-3">

<label class="form-label">

Ask a question

</label>

<input
type="text"
name="question"
class="form-control"
placeholder="Example: Which region has highest sales?"
required>

</div>

<button
class="btn btn-success">

Ask AI

</button>

</form>

</div>

</div>

<br>

{% if answer %}

<div class="alert alert-info">

<h4>Answer</h4>

<p>{{ answer }}</p>

</div>

{% endif %}

<div class="card shadow">

<div class="card-header">

Suggested Questions

</div>

<div class="card-body">

<ul>

<li>Which region has highest sales?</li>

<li>Top 10 customers</li>

<li>Highest profit category</li>

<li>Total Sales</li>

<li>Average Profit</li>

<li>Average Discount</li>

<li>Show Sales by Segment</li>

</ul>

</div>

</div>

</div>

{% endblock %}